# Ignore virtual environment
.venv/

# Ignore secrets
backend/.env
backend/data/.csv

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore database (optional)
backend/data/users.db

# Ignore frontend node_modules
frontend/node_modules/
